@charset "utf-8";
/* CSS Documentation */
body {
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  height: 95vh;
  background-image: url("../images/backgroundPic.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}

.logo {
  font-family: RoadTest;
  color: #000000;
  font-size: 22px;
}

.active {
  font-weight: bold;
  color: #2d2a2a;
}

/* Text Container */
.text-container p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
}

.text-container p:nth-child(2) {
  font-family: calibri;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  font-size: 60px;
}

.text-container p:nth-child(3) {
  font-family: myriad pro regular;
  color: darkslategray;
  font-size: 30px;
  line-height: 30px;
}

.text-container p {
  line-height: 0px;
  margin: 45px 0px 25px;
}

.text-container {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}

.text-container button {
  width: 180px;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  margin: 0px 10px;
}

.hire-btn {
  border: 2px solid black;
  color: #373636;
}
.hire-btn2 {
  color: white;
}

.download-cv {
  background-color: black;
  color: white;
  border: none;
}
.download-cv2 {
  color: white;
  border: none;
}

button:active {
  transform: scale(1.1);
}

/* My Image */
.myImage {
  height: 560px;
  position: absolute;
  bottom: 100px;
  left: 70%;
  transform: translateX(-70%);
}

/* About Section */
.about-container {
  width: 80%;
  height: 750px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.about-container img {
  height: 450px;
}
.about-text {
  width: 700px;
}
.about-text p:nth-child(1) {
  color: #403e3e;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 23px;
  line-height: 0px;
}

.about-text p:nth-child(2) {
  color: black;
  font-size: 14px;
  font-family: myriad pro;
  font-weight: bold;
  line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5),
.about-text p:nth-child(6) {
  color: rgb(92, 90, 90);
  font-family: calibri;
  font-size: 16px;
}

.about-text button {
  width: 160px;
  height: 30px;
  color: white;
  outline: none;
  font-family: calibri;
  background-color: rgba(0, 0, 0, 0.589);
}

/* Project Section */
.projects {
  height: 520px;
  background-color: white;
  padding: 2% 10% 0px 10%;
}

.projects-text p:nth-child(1) {
  color: #403e3e;
  font-family: calibri;
  font-weight: bold;
  font-size: 30px;
  line-height: 0px;
}
.projects-text p:nth-child(2) {
  color: black;
  font-size: 15px;
  font-family: calibri;
  font-weight: bold;
  line-height: 5px;
}
.projects-text p:nth-child(3) {
  color: grey;
  font-family: calibri;
}
.projects-text {
  width: 500px;
  margin: 50px 0px;
}

/*Project Boxes */
.box-1,
.box-2,
.box-3 {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-container {
  display: flex;
  justify-content: space-between;
}
/*
.box-1 {
  background-image: url("../images/softwareDesign.jpg");
}
.box-2 {
  background-image: url("../images/algorithms.png");
}
.box-3 {
  background-image: url("../images/databases.jpg");
}
*/

.box-1 button,
.box-2 button,
.box-3 button {
  width: 100px;
  height: 30px;
  background-color: white;
  outline: none;
  border-radius: 5px;
}

/* Contact Me */
.contact-me {
  width: 100%;
  height: 200px;
  /*background-image: url("../images/contact-me.png"); */
  background-color: rgb(247, 151, 207);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-family: calibri;
  font-weight: bold;
  border-bottom: 2px solid white;
}
.contact-me button {
  width: 200px;
  height: 40px;
  background-color: white;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

/*Footer*/
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p {
  font-family: calibri;
}
footer p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  color: black;
  line-height: 10px;
}
footer p:nth-child(2) {
  font-size: 18px;
  color: #4e4e4e;
  width: 600px;
  text-align: center;
}

/*Social Icons*/
.social-icons {
  display: flex;
}
.social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 151, 207);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.social-icons i {
  color: black;
}
.social-icons a:hover {
  background-color: white;
  box-shadow: 2px 2px 12px black;
  transition: all ease 0.5s;
}

